.app-dark {
  min-height: 100vh;
  background-color: #252525;
}

.header-dark {
  background-color: #1b1c1d !important;
}

.input-dark {
  border-color: #666666 !important;
  background-color: transparent !important;
  color: #e2e2e2 !important;
}

.gallery-card-dark {
  background-color: #1b1c1d !important;
  box-shadow: none !important;
}

.card-header-dark {
  color: #e2e2e2 !important;
}
